/* Skills */
 body{
     background-color: white;
 }
 #skills{
     margin-top:60px;
     position: relative;
 }
.h1{
    color: tomato;
   
}
h3{
    text-align: left;
}
.line{
    border-color: #5463FF;
}
.tech, .soft{
    background-color:#ECECEC ;
    text-align: left;
    margin: 20px;
    padding: 10px;
    border-radius: 2%;

}
.blo{
   
    
    border-radius: 2%;
    margin-left:15px ;
    text-align: center;
    font-weight: 200;
}

li{
    font-weight: bold;
    margin: 2px;
}
.html{
    width: 75%;
    background-color: #FFC300;
    opacity: 0.5;
}
    
.css{
    width: 63%;
    background-color: #FFC300;
    opacity: 0.5;
}

.github{
    width: 55%;
    background-color: #FFC300;
    opacity: 0.5;}
   
.team{
    width: 80%;
    background-color: #FF1818;
    opacity: 0.7;
}

.search{
    width: 60%;
    background-color: #FF1818;
    opacity: 0.7;
}

.presin{
    width: 62%;
    background-color: #FF1818;
    opacity: 0.7;
   
}

.time{
    width: 71%;
    background-color: #FF1818;
    opacity: 0.7;
  
}

h2{
    background-color: #FF1818;
    border: 3px solid #FF1818;
    position: fixed;
    right: 0.5%;
    top: 0%;
    z-index: 1;
    transition: transform 2s;
    /* transition: transform 2s; */
    /* transition: transform, 1s; */
   
}
h2:hover {
    background-color: #FFC300;
    transform: rotate(360deg);
  }
  .x{
    background-color: #ECECEC;
    padding: 20px;
    margin-bottom: 80px;
  }
  .block, .g{
      display: block;
      width: 100%;
  }
  .g{
      background-color: #FFC300;
      border: none;
      font-weight: bold;
      font-size: x-large;
  }
  #aq, #am, #ot{
      margin-left:15px;
  }
 

  @media only screen and (max-width:1200px){
    h2{
        
        display: block;
        width: 100%;
    }}
  @media only screen and (max-width:770px){
    h2{
        
        display: block;
        width: 100%;
    }

    .h1{
        font-size: x-large;
        }
       h3{
           font-size: small;
       }

   }

    
   