*{
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
    padding: 0;
   
}
 /*  hedear  */

.na{
    display: flex;
    flex-direction: row;
    background-color: #C5D8A4;
    justify-content: flex-end;
    font-size: large;
    font-weight: bold;
    position: fixed;
    top:0px;
    width: 100%;
    z-index: 1;

    
}
.na a{
    margin: 10px;
    color: #4A403A;
}
.na p{
    padding-top: 10px;
}
.logo{
    position: absolute;
    left: 2%;
    text-align: left;
    
    border-radius: 40%;
    font-weight: bolder;
    padding: 2px;
    transform: rotateZ(-20deg)
}

.H{
   
    position: relative;
    background-image: url(./pic/backgroud.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}
#new{
    margin-top:50px ;
}



.H img{
    margin-top:10px;
    height: 150px;
    width:150px;
    border-radius: 50%;
    position: relative;
    left:44%;
    top: 10%;
   
    
    
}
.H h1,h2{
    
    color: #4A403A;
    font-weight: bold;
    position: relative;
    top: 20%;
    text-align: center;
}
#top{
    height: 50%;
    position: absolute;
    bottom:0 ;
    left:0;
    border-left: 20px solid #4A403A ;
}
#bottom{
    height: 70%;
    position: absolute;
    top: 30%;
    right: 0;
    border-right: 20px solid #4A403A ;
}
main{
    text-align: center;
}
/* objective */
h5{
    margin: 30px;
    padding: 20px;
}

/*   EDUCTION     */

.inlineBlock{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.inlineBlock div{
    width:24%;
    padding-top: 5px;
    margin: 3px;
    border: 1px solid #C5D8A4; 
    border-radius: 3%;
  
}

    

    
.bold{
    font-weight: bold;
}

 .con{
     
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
 }
 .con div{
   
    width: 33%;
    padding: 2%;
    text-align: center;

}
.line{
    height: 60px;
    border-bottom: 3px solid #4A403A;
    
}
.h1{
    color: #706A6A;
    font-weight: bold;
}
.b{
    background-color: #4A403A;
    border-color: #4A403A;  
   
}

/*    RECENT PROJECTS      */


.inlineBlock1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.inlineBlock1 div{
    width: 33%;
    
  
}



.projectImg{
    height: 200px;
    width: 300px;
    animation: cool-move 4s infinite;
    

}

/* EXPERIENCE */

.exp{
    text-align: left;
}


/* footer */

footer{
    text-align: left;
    background-color: #4A403A;
    color: white;
    
    
}
.f{
display: flex;
flex-direction: row;
flex-wrap: wrap;
}
.f div{
    width:30%;
    margin:15px;
}
.blockquote-footer{
    color: #000;
    font-weight: 600;
    font-style: italic;
    margin-left: 27px;
}

.i{
    margin: 10px;
    transition: .3s;
    color: #000;
    /* border-radius: 50%; */
    /* box-shadow: 0px 1px 5px  rgb(236, 240, 241); */
    font-weight: 600;
    
}
.i:hover{
    color: lightblue;
    transform: translate(0, -10%);
}


    
}
@media only screen and (max-width:992px) {

    .projectImg{
        height: 100px;
        width: 150px;
    }
    
}

@media only screen and (max-width:770px) and (min-width: 489px){

    .projectImg{
        height: 100px;
        width: 150px;
        font-weight: 300;
    }
    .line{
        display: none;
    }
    .H img{
        width: 100px;
        height: 100px;
    }
    .logo{
        display: none;
    }
    #new{
        margin-top:40px ;
    }
    .na{
        font-size: xx-small;
    }
    .na a{
        margin: 10px;
        color: #4A403A;
    }
   
}
@media only screen and (max-width:490px){
    .line{
        display: none;
    }
    .inlineBlock1{
        display: block;  
        text-align: left;
    }
    .inlineBlock1 div{
        width: 100%;
        border-bottom: 1px solid;
   
    }
    .inlineBlock{
        display: block;  
        text-align: left;  
    
}
.inlineBlock div{
    width: 100%; 
}
.projectImg{
    height: 100px;
    width: 150px;
}
.f{
    display: block;
}
.f div{
    width: 100%;
}
.H img{
    width: 100px;
    height: 100px;
}
.logo{
    display: none;
}
#new{
    margin-top:60px ;
}
.na{
    font-size: xx-small;
    font-weight: 300;

}
.na a{
    margin: 3px;}
#top{
    border: none;
}
#bottom{
    border: none;
}

}
@media only screen and (max-width:295px){
    .H img{
       left: 30%;
    }
    .na a{
        margin: 3px;}
}

/* @keyframes pic-move {
    0% {
      transform: scaleY(0.5);
    }
    100% {
      transform: scaleY(1);
    }
}
  .projectImg:hover{
   
    animation: pic-move 1s 1;
} */
@keyframes cool-move {
    0% {
        box-shadow: 0 0 0 0 rgba(48, 175, 218, 0.4);
    }
    5% {
        transform: scale(1.001);
    }
    15% {
        transform: scale(1);
    }
    70% {
        box-shadow: 0 0 0 50px rgba(48, 175, 218, 0.0);
    }
    100% {
        box-shadow: 0 0 0 100px rgba(48, 175, 218, 0.0);;
    }
}




 
